@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,900&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar {
    height: 100px;
    background-color: #1F2937;
}

.hero {
    height: 250px;
    background-color: #1F2937;
}

.leftSide, .rightSide {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 50%;
}

.hero .leftSide {
    flex-direction: column;
}

.hero .title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero .subText {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .button {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-size: 23px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 20px;
    align-items: center;
}

.info .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    flex: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
}

.contact .content {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: #3882F6 solid 10px;
    border-radius: 10px;
}